body {
    background-color: #448d94;
    text-align: center;
}
 
/* legend {
    
    text-shadow: 1px 1px #0b363a;
    
} */

/* #gameDiv {
    
} */

#submit {
    background-color: black;
    color: aliceblue;
    border-radius: 10px;
}
.results {
    display: none;
}

input {
    cursor: pointer;
    
}
form {
    
    background-color: rgb(90, 163, 139);
    border-radius: 10px;
}
.endGame{
    display: none;
}

#endgame{
    display: none;
}