body {
    background-color: #BFACB5;
    text-align: center;
    color: #406E8E;
    font-family:'Courier New', Courier, monospace;
}

main {
    border: 3px solid #406E8E;
    border-radius: 10px;
    background-color: #CBF7ED;
    margin: 100px 200px;
    
}

#submit {
    background-color: #BFACB5;
    color: #1b3a50;
    border-radius: 10px;
    margin: 15px 0px;
    border-color: #BFACB5;
}

input {
    cursor: pointer;
    
}
.endGame{
    display: none;
}